{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{{ form.media }}

{% block content %}

{{block.super}}

<!-- Landing Page -->
    <div class="container top-margined">
    <h4>Upload your image/s here</h4>
        <div class="row edit-profile">
            <div class="row">
            <div class="col-md-8">
                <div class="form-section" id="upload">
                    {{message}}
                    <form action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" class="btn btn-primary btn-lg" value="Upload">
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}